# Stellar SDK Example Hub Configuration

# Optional Horizon endpoint URL overrides
HORIZON_URL=https://horizon-testnet.stellar.org

# Optional Soroban RPC endpoint URL overrides
SOROBAN_RPC_URL=https://soroban-testnet.stellar.org
